<!DOCTYPE html>
<html>
  {{ partial "head.html" . }}

  <body>
    {{ partial "page_header.html" . }}

    <h3>Posts</h3>

    <div>
      {{ range .Pages.ByPublishDate }}
      <div>
        <a href="{{ .Permalink }}">{{ .Title }}</a><br />
        <time>{{ .Date.Format "January 2, 2006" }}</time>
      </div>
      <br />
      {{ end }}
    </div>
  </body>
</html>
