<!DOCTYPE html>
{{ partial "head.html" . }}

<html>
  {{ partial "page_header.html" . }}

  <h1>{{ .Title }}</h1>
  <p class="post-meta">
    <time itemprop="datePublished">{{ .Date.Format "January 2, 2006" }}</time>
  </p>
  <h3>Table of Contents</h3>

  {{.TableOfContents}} {{ .Content }} {{ partial "footer.html" . }}
</html>
