<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css" />
  <title>{{ .Site.Title }}</title>
  <link
    rel="icon"
    type="image/png"
    href="{{ .Site.BaseURL }}assets/img/favicon.ico"
  />
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/fontawesome_all.css" />
</head>
