<!DOCTYPE html>
<html>
  {{ partial "head.html" . }}

  <body>
    <p>This page does not exist or as they say, it's a 404 error</p>
    <p>
      If you can't find what you're looking for, it's better to sometimes look
      inside
    </p>
  </body>
</html>
