<!DOCTYPE html>
<html>
  {{ partial "head.html" . }}

  <body>
    <h1>{{ .Site.Params.Name }}</h1>
    <h4>{{ .Site.Params.About| markdownify }}</h4>

    <div>{{ .Content }}</div>

    <table>
      {{ range .Site.Params.profiles }} {{ partial "profile_link.html" . }} {{
      end }}
      <tr>
        {{ if ne .Site.Params.Resume "" }}
        <td><i class="fas fa-file-alt" aria-hidden="true"></i></td>
        <td>
          &nbsp;<a
            href="{{ .Site.BaseURL }}resume/{{ .Site.Params.Resume }}"
            target="_blank"
            >Resume</a
          >
        </td>
        {{ end }}
      </tr>
      <tr>
        {{ if ne .Site.Params.Email "" }}
        <td><i class="fas fa-envelope" aria-hidden="true"></i></td>
        <td>
          &nbsp;<a href="mailto:{{ .Site.Params.Email }}"
            >{{ .Site.Params.Email }}
          </a>
        </td>
        {{ end }}
      </tr>
      <tr>
        {{ if ne .Site.Params.GPG "" }}
        <td><i class="fas fa-lock" aria-hidden="true"></i></td>
        <td>&nbsp;<a href="{{ .Site.Params.GPG }}" target="_blank">GPG</a></td>
        {{ end }}
      </tr>
    </table>

    <h3>Posts</h3>

    <div>
      {{ range first (.Site.Params.PostLimit | default 4) (where
      .Site.RegularPages.ByPublishDate "Section" "posts") }}
      <div>
        <a href="{{ .Permalink }}">{{ .Title }}</a><br />
        <time>{{ .Date.Format "January 2, 2006" }}</time>
      </div>
      <br />
      {{ end }}

      <h3><a href="{{ .Site.BaseURL }}posts/">View all posts</a></h3>
    </div>
    {{ if ne .Site.Params.GoatCounterCode "" }}
    <script
      data-goatcounter="{{ .Site.Params.GoatCounterCode }}"
      async
      src="//gc.zgo.at/count.js"
    ></script>
    <noscript>
      <img src="{{ .Site.Params.GoatCounterCode }}?p=/test-noscript" />
    </noscript>
    {{ end }}
  </body>
</html>
